main > .root {
    height: calc(90vh);
}

.text-lg {
    font-size: 4rem;
    font-weight: 400;
}

.color-green {
    color: green;
}

.color-red {
    color: red;
}

.color-black {
    color: black;
}