* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.app-container {
    width: 300px;
    height: 500px;
    margin: 20px auto;
    border: 2px solid black;
    border-radius: 5px;
}

.date-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50px;
    border-bottom: 1px solid black;
    color: rgb(52, 5, 5);
}

.notes-wrapper {
    overflow: auto;
    height: 400px;
    border-bottom: 1px solid black;
}


.note {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 10px;
    border-bottom: 1px solid black;
}

.note-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.note-check {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.note-text {
    width: 200px;
    max-height: 10rem;
    line-height: 1.2rem;
    overflow: hidden;
    text-overflow: wrap;
    overflow-wrap: break-word;
    font-size: 1rem;
}

.line-through {
    text-decoration: line-through;
    color: gray;
}

.noteDel-btn {
    width: 35px;
    height: 35px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    height: 48px;
}

.footer > input {
    width: 200px;
    height: 40px;
    padding-left: 5px;
}

.addNote-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.hidden {
    display: none;
}